%span#tooltip Tooltip
.notification-container
    .notification.blueprint
        .icon
            %i.fa
        .content
    .downloadqueue.blueprint
        .icon
            %i.fa.fa-download
        .content
            .filename
            .progress
                .bar
