#add-ascii
    .header
        .back.button
            %i.fa.fa-chevron-left
        .title
            Add Ascii File
    %textarea.ascii-text{:placeholder=>"Paste Ascii Text Here"}
    .button.add-file
        %i.fa.fa-ticket
        Add File
