#manage-account
    .row.header
        .text Wallet
    .sumdisplay
        Balance
        .amt
    .addresses
        .title
            Addresses
            .dropdown-button
                %i.fa.fa-chevron-down
        .items
            .item.blueprint
                .address
                .amt
    .row.account-control-buttons
        .button.create-address
            %i.fa.fa-plus.fa-fw
            Create Address
        .button.send-money
            %i.fa.fa-send.fa-fw
            Send Money
