#mining
    .header
        .title Mining
        .capsule
            .pod.mining-status
            .pod.blocks-per-week
            .pod.active-miners
            .pod.blocks-found
    .miner-control
        .display
            .number
            .text Active Miner Threads
        .button.add-miner
            %i.fa.fa-plus.fa-fw
            Add Miner
        .button.remove-miner
            %i.fa.fa-minus.fa-fw
            Remove Miner
        .button.toggle-mining
            %span
                %i.fa.fa-remove.fa-fw
                %i.fa.fa-legal.fa-fw
            %span.text Stop Mining
