#mining
    .header
        .title Mining
        .capsule
            .pod.button.mining-status Mining
            .pod.active-miners
    .account-info
        Mining into
        .account-name Account
        .sumdisplay
            .amt
    .miner-control
        .display
            .number
            .text Active Miner Threads
        .button.add-miner
            %i.fa.fa-plus.fa-fw
            Add Miner
        .button.remove-miner
            %i.fa.fa-minus.fa-fw
            Remove Miner
        .button.toggle-mining
            %span
                %i.fa.fa-remove.fa-fw
                %i.fa.fa-legal.fa-fw
            %span.text Stop Mining
