#transfer-funds
    .header
        .back.button
            %i.fa.fa-chevron-left
        .title Transfer Funds
    .pure-g
        .pure-u-1-2
            .from-column
                .subhead
                    %i.fa.fa-sign-out
                    Transferring from Default
                .account
                    .eqn.current-balance
                        .text Balance
                        .unit KS
                        .amt
                    .eqn.transfer-amt
                        .text Transfer
                        .unit KS
                        .amt.input.field-transfer
                            %i.icon.fa.fa-pencil
                    .eqn.final-balance
                        .text Final Balance
                        .unit KS
                        .amt.input.field-final-balance
                            %i.icon.fa.fa-pencil
        .pure-u-1-2
            .to-column
                .subhead
                    %i.fa.fa-sign-in
                    Transferring to Address
                .address
                    .eqn
                        .text.address-title KS Address
                        .amt.input.field-address
                            %i.icon.fa.fa-pencil
    .control
        .summary
            Transferring
            .amt
            from
            .from Savings Account
            to
            .to
        .button.send-money
            %i.fa.fa-send
            Send Funds
